{% if include.username %}
    {% assign username = include.username %}
{% else %}
    {% assign username = 'plasmatic1' %}
{% endif %}

{% if include.host %}
    {% assign host = include.host %}
{% else %}
    {% assign host = 'github' %}
{% endif %}

{% if include.label %}
    {% assign label = include.label %}
{% else %}
    {% assign label = username | append: '/' | append: include.name %}
{% endif %}

<a href="https://{{ host }}.com/{{ username }}/{{ include.name }}"><i class="fab fa-{{ host }}"></i> {{ label }}</a>
{% comment %}For some reason it keeps creating a newline when I don't do this...{% endcomment %}